*{
  box-sizing: border-box;
}
body {
  background: #efefef;
  height: 100vh;
}
/*.container-page {
  height: 100vh;
}*/
.form-signin {
  padding-top: 25px;
}
#table-form {
  margin-top: 25px;
}
/*menu principal*/
.nav-menu {
  background: #007bff;
  padding: 10px;
}
/* ul */
.nav-list-contact, .menu-list-contact{
  margin: 0;
  padding: 0;
}
.nav-list-contact li, .menu-list-contact li {
  list-style: none;
}
.inline-list{
  display: inline-block;
}
.nav-list-contact li a, .menu-list-contact li a{
  color: #e6e6e6;
  padding: 0 20px;
  font-weight: bold;;
  font-size: 20px;
}
.nav-list-contact li a:hover, .menu-list-contact li a:hover {
  text-decoration: none;
  color: #fff;
}
/* icono hamburguesa */
.nav-icon {
  cursor: pointer;
  display: none;
}
.bar1, .bar2, .bar3 {
  display: block;
  width: 40px;
  height: 5px;
  background: #e67474;
  margin: 6px;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* menu pantalla normal */
.menu-hide {
  display: block;
}

.menu-show {
  height: 100vh;
  width: 200px;
  z-index: 1000;
  display: inline-block;
  position: absolute;
  /*position: fixed; debemos poner este*/
  background: #ccc;
  overflow-y: scroll;
  transition: .5s;
}
.container-page {
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 100%;
}
.back-page {
  z-index: -2;
  height: 100%;
  width: 100%;
  /*position: fixed;*/
  position: absolute;
  transition: .5s;
  margin: 0;
  padding: 0;
}
